@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Light-08.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-01.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Medium-11.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Bold-02.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bg {
  @apply absolute top-0 bottom-0 left-0 flex-grow w-full -z-10;
  background-image: radial-gradient(
      circle at 80.99% 40%,
      #ad1a7e83,
      transparent 50%
    ),
    url(/img/noise.svg);
  filter: contrast(1.8);
}
